@import url("./template_login/template_login.css");

::placeholder {
    color: #e6e6e6;
    opacity: 0.6;
}

input {
    outline: none;
    border: none;
    color: #e6e6e6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: large;
}

input.email {
    position: absolute;
    width: 80%;
    height: 7%;
    margin: auto;
    top: 35%;
    left: 10%;
    background: transparent;
    border-bottom: 2pt solid #e6e6e6;
}

input.username {
    position: absolute;
    width: 80%;
    height: 7%;
    top: 45%;
    left: 10%;
    background: transparent;
    border-bottom: 2pt solid #e6e6e6;
    transition: color 0.5s;
}

input.password {
    position: absolute;
    width: 80%;
    height: 7%;
    top: 55%;
    left: 10%;
    background: transparent;
    border-bottom: 2pt solid #e6e6e6;
    transition: color 0.5s;
}

input.retypePassword {
    position: absolute;
    width: 80%;
    height: 7%;
    top: 65%;
    left: 10%;
    background: transparent;
    border-bottom: 2pt solid #e6e6e6;
    transition: color 0.5s;
}

input:focus {
    border-bottom: 2pt solid #f48455;
    transition: border-bottom 0.5s;
}

.createNewAccount {
    position: absolute;
    width: 40%;
    height: 8%;
    left: 30%;
    top: 85%;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #304e64;
    background-color: #83d1df;
    outline: none;
    border: none;
    border-radius: 5vh;
}

.createNewAccount:hover {
    background-color: #e6e6e6;
    color: #f48455;
}

.messages {
    background-color: #f48455;
    border: #304e64;
    height: 8%;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 20px;
    font-size: small;
    position: absolute;
    top: 75%;
    left: 10%;
    visibility: hidden;
}

#msgUserSpan {
    position:absolute;
    top:10%;
    left:2%;
    right: 2%;
    bottom: 10%;
}

@media screen and (max-width: 479px) {
    .messages {
        font-size: xx-small;
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
    .messages {
        font-size: x-small;
    }
}