<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Offline Page</title>
</head>
<body>
    <div id="header">
        <img src="../res/imageedit_1_7587001916.png" id="logo" onclick="controleNav()" alt="Logo">
    </div>

    <div>
        <h1>You are offline.</h1>
        <h2>This application requires continues internet connection. Please connect to the internet, then try again.</h2>
    </div>
</body>
</html>